VITE_CLIENT_URL_PROD=https://example.com/
VITE_CLIENT_URL_DEV=http://localhost:5173/
VITE_API_URL_PROD=https://api.example.com/api
VITE_API_URL_DEV=http://localhost:3000/api
VITE_ENV=development
VITE_POKEMONTCG_API_KEY=your_pokemon_tcg_api_key_here

PORT=3000
DATABASE_URL=postgresql://user:password@localhost:5432/memorycard?schema=public
RESEND_KEY=your_resend_api_key_here
CLIENT_URL_PROD=https://example.com
CLIENT_URL_DEV=http://localhost:5173
NODE_ENV=development
