.form {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  gap: 25px;
  font-size: 2rem;
}

.title {
  text-align: center;
  margin: 0;
}
.inputGroup {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.inputGroup input[type="text"],
.inputGroup input[type="email"],
.inputGroup input[type="password"] {
  padding: 8px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.form button[type="submit"] {
  margin-top: 10px;
  padding: 10px;
  font-size: 18px;
  border: 2px solid #000;
  border-radius: 4px;
  cursor: pointer;
}

.redirectText {
  font-size: 18px;
  text-align: center;
  margin-top: 15px;
}

@keyframes progress {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(400%);
  }
}

.requirementsContainer {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-top: 0.5rem;
  font-size: 1.5rem;
}

.requirement {
  display: flex;
  align-items: center;
  gap: 1rem;
  transition: color 0.2s ease;
}

.requirement span {
  text-shadow: -2px 2px 1px #000;
  -webkit-text-stroke: 1px #345ca1;
}

.indicator {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 1.25rem;
  height: 1.25rem;
  border-radius: 25%;
  background-color: #9f9f9f;
  color: white;
  font-weight: bold;
  transition: all 0.2s ease;
  border: 1px solid white;
}

.indicator[data-met="true"] {
  color: #10b981;
}

.indicator span {
  font-family: initial;
  text-shadow: none;
  -webkit-text-stroke: initial;
  padding-left: 2px;
  padding-top: 1px;
}

.requirement[data-met="true"] .indicator {
  background-color: #10b981;
  color: white;
}

.errorMessage {
  color: #dc2626;
  font-size: 1.2rem;
  margin-top: 5px;
  -webkit-text-stroke: 1px #345ca1;
}
