*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

#root {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

body {
  margin: 0;
  font-family: "Pokemon Solid", sans-serif;
  color: #f9c932;
  text-shadow: -2px 2px 1px #000;
  -webkit-text-stroke: 1.5px #345ca1;
  letter-spacing: 2px;
  background-color: #e7e7e7;
}

button {
  cursor: pointer;
  font-family: "Pokemon Solid", sans-serif;
  color: #f9c932;
  text-shadow: -2px 2px 1px #000;
  -webkit-text-stroke: 1.5px #345ca1;
  letter-spacing: 3px;
}

.header {
  background-color: red;
  padding: 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-bottom: 7px solid black;
}

.header-img {
  width: 10%;
  height: auto;
}

.logo-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 60%;
}

.logo1 {
  width: 50%;
  height: auto;
  margin-bottom: -30px;
}

.logo2 {
  width: 40%;
  height: auto;
}

.logo-large {
  width: 90%;
  height: auto;
}

.main-text {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 30px;
}

.instructions {
  display: flex;
  flex-direction: column;
  font-size: 2.5rem;
}

.instructions p {
  margin: 10px 0;
}

.game-level {
  font-size: 4rem;
}

.scores-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
}

.score {
  margin: 10px 0;
}

.cards-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  justify-items: center;
  margin: 0 10px;
  gap: 10px;
}

.flip-card {
  perspective: 1000px; /* Remove this if you don't want the 3D effect */
  width: 250px;
  /* border: 2px solid #000; */
  margin: 10px 0;
  transition: all 0.3s ease-in-out;
  aspect-ratio: 733 / 1024;
}

.flip-card:hover {
  cursor: pointer;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 13px;
  box-shadow: 0px 0px 5px 3px rgba(0, 0, 0, 0.6);
  transition: transform 0.5s;
  transform-style: preserve-3d;
  transform: rotateY(var(--rotateX)) rotateX(var(--rotateY));
}

.card-front,
.card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  top: 0;
  left: 0;
}

.card-back {
  transform: rotateY(180deg);
}

.flip {
  transform: rotateY(180deg);
}

@keyframes shake {
  0% {
    transform: translateX(0);
  }
  20% {
    transform: translateX(-8px);
  }
  40% {
    transform: translateX(8px);
  }
  60% {
    transform: translateX(-6px);
  }
  80% {
    transform: translateX(6px);
  }
  100% {
    transform: translateX(0);
  }
}

.shake {
  animation: shake 0.4s ease;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.loader-img {
  width: 15%;
  height: auto;
  animation: spin 2s linear infinite;
}

.title-screen {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.title-screen-background {
  display: grid;
  grid-template-columns: repeat(6, minmax(0, 1fr));
  /* grid-template-columns: repeat(6, minmax(0, 1fr)); */
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.title-screen-background-card {
  width: 100%;
}

.title-screen-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 30px;
  background-color: #fffefe63;
}

/* .title-screen-container { */
/* display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  grid-row: 2 / 4;
  grid-column: 2 / 6; */

/* display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  grid-row: 2 / 5;
  grid-column: 5 / 11;
} */

.title-screen-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}

.title-screen-logo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.pokeball-border {
  width: 33%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: red;
  overflow: hidden;
}

@keyframes move {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 0 -10000000px;
  }
}

.pokeball-border-inner {
  width: 40%;
  height: 100%;
  background: url("/pokeball-loader.png") repeat-y;
  background-size: contain;
}

.border-left {
  border-right: 10px solid black;
}

.border-right {
  border-left: 10px solid black;
}

.border-left .pokeball-border-inner {
  animation: move 500000s linear infinite;
}

.border-right .pokeball-border-inner {
  animation: move 500000s linear infinite;
  animation-direction: reverse;
}

.title-screen-buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  width: 50%;
}

.title-screen-button {
  background-color: red;
  padding: 0;
  border: 3px solid black;
  border-radius: 10px;
  font-size: 2rem;
  width: 100%;
  transition: all 0.2s;
}

.title-screen-button-text {
  width: 100%;
  padding: 10px 20px;
  border: 2.5px solid #ffffff;
  border-radius: 6px;
}

.title-screen-button:hover {
  transform: rotateZ(-1.2deg);
  transform-origin: top left;
}

.selection-screen {
  background-color: #ddebff;
}

.selections {
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  gap: 20px;
  padding: 20px;
}

.selection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border: 2px solid black;
  border-radius: 10px;
  padding: 10px;
  transition: all 0.2s;
  position: relative;
}

.selection:hover {
  cursor: pointer;
  transform: scale(1.03);
  border: 2px solid #0000;
  background: linear-gradient(#ddebff, #ddebff) padding-box,
    linear-gradient(var(--angle), #000, #ff0000) border-box;
  animation: 4s rotate linear infinite;
}

.selection-overlay {
  padding: 1px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 2rem;
  background-color: rgba(0, 0, 0, 0.7);
}

.selection-locked {
  pointer-events: none;
}

@keyframes rotate {
  to {
    --angle: 360deg;
  }
}

@property --angle {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}

.selection-name {
  font-size: 2rem;
}

.selection-image {
  object-fit: contain;
  max-width: 100%;
  max-height: 100px;
}

.selection-level {
  font-size: 1.5rem;
}

.hidden {
  display: none;
}

.modal {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 10;
  position: fixed;
}

.modal-content {
  background-color: #ff1b1ba4;
  font-size: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  gap: 20px;
  padding: 20px;
  border-radius: 10px;
}

.modal-text {
  text-align: center;
}

.modal-buttons {
  display: flex;
  align-items: center;
  gap: 10px;
}

.modal-button {
  padding: 10px 20px;
  border-radius: 6px;
  font-size: 2rem;
  transition: all 0.2s;
  display: inline;
}

.modal-button:hover {
  cursor: pointer;
  transform: scale(1.03);
}

.modal-block {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.settings-screen {
  .modal-content {
    background-color: #ff1b1b;
    gap: 40px;
  }

  .modal-button {
    width: 100%;
  }

  .modal-button:nth-of-type(2) {
    margin-bottom: 10px;
  }

  .range-slider {
    width: 100%;
  }

  p {
    margin: 0;
  }
}

@media screen and (max-width: 768px) {
  .main-text {
    flex-direction: column;
    align-items: center;
    padding: 10px;
    gap: 10px;
  }

  .instructions {
    align-items: center;
  }

  .scores-container {
    flex-direction: row;
    align-items: center;
    width: 100%;
    justify-content: space-around;
  }

  .title-screen-text {
    width: 100%;
  }
}

@media screen and (max-width: 650px) {
  .instructions {
    text-align: center;
  }

  .scores-container {
    flex-direction: column;
  }

  .cards-container {
    grid-template-columns: 1fr 1fr;
  }

  .flip-card {
    width: 120px;
  }

  .title-screen-background {
    grid-template-columns: repeat(5, minmax(0, 1fr));
  }
}

@media screen and (max-width: 400px) {
  body {
    -webkit-text-stroke: 1px #345ca1;
  }

  .title-screen-background {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }

  .card-name {
    font-size: 1.5rem;
  }

  .title-screen-buttons {
    width: 70%;
  }
}
