.main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  animation-name: fadeInOpacity;
  animation: fadeInOpacity 1s ease-in;
}

.background {
  display: grid;
  grid-template-columns: repeat(6, minmax(0, 1fr));
  /* grid-template-columns: repeat(6, minmax(0, 1fr)); */
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 30px;
  background-color: #fffefe63;
  border-radius: 5px;
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}

.logo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  width: 50%;
}

.buttonText {
  width: 100%;
  padding: 10px 20px;
  border: 2.5px solid #ffffff;
  border-radius: 6px;
}

@media screen and (max-width: 768px) {
  .text {
    width: 100%;
  }
}

@media screen and (max-width: 650px) {
  .background {
    grid-template-columns: repeat(5, minmax(0, 1fr));
  }
}

@media screen and (max-width: 400px) {
  .background {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }

  .buttons {
    width: 70%;
  }
}
