.header {
  background-color: red;
  padding: 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-bottom: 7px solid black;
}

.logo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 60%;
}

.gameState {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 30px;
}

.level {
  font-size: 4rem;
}

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  justify-items: center;
  margin: 0 10px;
  gap: 10px;
}

@media screen and (max-width: 768px) {
  .gameState {
    flex-direction: column;
    align-items: center;
    padding: 10px;
    gap: 10px;
  }
}

@media screen and (max-width: 650px) {
  .instructions {
    text-align: center;
  }

  .cards {
    grid-template-columns: 1fr 1fr;
  }
}
