.scores {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
}

.score {
  margin: 10px 0;
}

@media screen and (max-width: 768px) {
  .scores {
    flex-direction: row;
    align-items: center;
    width: 100%;
    justify-content: space-around;
  }
}

@media screen and (max-width: 650px) {
  .scores {
    flex-direction: column;
  }
}
