*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  margin: 0;
  font-family: "Pokemon Solid", sans-serif;
  color: #f9c932;
  text-shadow: -2px 2px 1px #000;
  -webkit-text-stroke: 2px #345ca1;
  letter-spacing: 2px;
  background-color: #e7e7e7;
}

.header {
  background-color: red;
  padding: 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-bottom: 7px solid black;
}

.header-img {
  width: 10%;
  height: auto;
}

.logo-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 60%;
}

.logo1 {
  width: 50%;
  height: auto;
}

.logo2 {
  width: 40%;
  height: auto;
}

.main-text {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 30px;
}

.instructions {
  display: flex;
  flex-direction: column;
  font-size: 2.5rem;
}

.instructions p {
  margin: 10px 0;
}

.scores-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
}

.score {
  margin: 10px 0;
}

.cards-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  justify-items: center;
  margin: 0 10px;
  gap: 10px;
}

.flip-card {
  perspective: 1000px; /* Remove this if you don't want the 3D effect */
  width: 85%;
  /* border: 2px solid #000; */
  margin: 10px 0;
  transition: all 0.3s ease-in-out;
  aspect-ratio: 733 / 1024;
}

.flip-card:hover {
  cursor: pointer;
  transform: scale(1.03);
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 13px;
  box-shadow: 0px 0px 5px 3px rgba(0, 0, 0, 0.6);
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.card-front,
.card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  top: 0;
  left: 0;
}

.card-back {
  transform: rotateY(180deg);
}

.flip {
  transform: rotateY(180deg);
}

@keyframes shake {
  0% {
    transform: translateX(0);
  }
  20% {
    transform: translateX(-8px);
  }
  40% {
    transform: translateX(8px);
  }
  60% {
    transform: translateX(-6px);
  }
  80% {
    transform: translateX(6px);
  }
  100% {
    transform: translateX(0);
  }
}

.shake {
  animation: shake 0.4s ease;
}

@media screen and (max-width: 768px) {
  .main-text {
    flex-direction: column;
    align-items: center;
    padding: 10px;
    gap: 10px;
  }

  .instructions {
    align-items: center;
  }

  .scores-container {
    flex-direction: row;
    align-items: center;
    width: 100%;
    justify-content: space-around;
  }
}

@media screen and (max-width: 600px) {
  .instructions {
    text-align: center;
  }

  .scores-container {
    flex-direction: column;
  }

  .cards-container {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 400px) {
  body {
    -webkit-text-stroke: 1px #345ca1;
  }

  .card-name {
    font-size: 1.5rem;
  }
}
