.form {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-width: 500px;
  gap: 25px;
}

.title {
  text-align: center;
  margin-bottom: 20px;
  font-size: 2rem;
}

.sectionTitle {
  text-align: center;
  font-size: 1.5rem;
  margin-bottom: 10px;
  padding-bottom: 10px;
  border-bottom: 2px solid #ccc;
}

.inputGroup {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.inputLabel {
  font-size: 2rem;
}

.inputGroup input[type="text"],
.inputGroup input[type="email"],
.inputGroup input[type="password"] {
  padding: 8px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.inputGroup span {
  font-size: 14px;
}

.notification {
  position: fixed;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1000;
  min-width: 300px;
  max-width: 500px;
  animation: slideMessage 4s ease-in-out forwards;
}

@keyframes slideMessage {
  0% {
    opacity: 0;
    transform: translateX(-50%) translateY(-20px);
  }
  15% {
    opacity: 1;
    transform: translateX(-50%) translateY(0);
  }
  70% {
    opacity: 1;
    transform: translateX(-50%) translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateX(-50%) translateY(-20px);
  }
}

.success {
  padding: 10px;
  background-color: #d4edda;
  color: #155724;
  border-radius: 4px;
  text-align: center;
  font-size: 14px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.error {
  padding: 10px;
  background-color: #f8d7da;
  color: #721c24;
  border-radius: 4px;
  text-align: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.requirementsContainer {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-top: 0.5rem;
  font-size: 1.5rem;
}

.requirement {
  display: flex;
  align-items: center;
  gap: 1rem;
  transition: color 0.2s ease;
}

.requirement span {
  text-shadow: -2px 2px 1px #000;
  -webkit-text-stroke: 1px #345ca1;
}

.indicator {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 25%;
  background-color: #9f9f9f;
  color: white;
  font-weight: bold;
  transition: all 0.2s ease;
  border: 1px solid white;
}

.indicator[data-met="true"] {
  color: #10b981;
}

.indicator span {
  font-family: initial;
  text-shadow: none;
  -webkit-text-stroke: initial;
  padding-left: 2px;
  padding-top: 1px;
}

.requirement[data-met="true"] .indicator {
  background-color: #10b981;
  color: white;
}
